.wrapper{
  margin:3em 3em;
}
/* Code for link appearence on page */
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
	position:relative;
  transition:2s color ease;
	text-decoration:none;
	color:black;
	font-size: 0.2em;
}
/* Hover color */
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:2s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
/* Code for top and bottom hover box */
a.before:before,a.after:after{
  height:5px;
  height:0.1rem;
  width:0;
  background:#d73444;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size: 1.4em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
/* Code for red hover box on the side */
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:1s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.1rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square a:before{
  left:0;
  transition:2s all ease;
}
.square a:after{
  right:0;
  transition:2s all ease;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 1em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}