<!DOCTYPE html>
<html ng-app="social-burst">
<head>
	
	<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

	<script type="text/javascript" src="../frontApp.js"></script>
	<script type="text/javascript" src="js/sapp.js"></script>
	<script type="text/javascript" src="js/factories/auth.fact.js"></script>
	<script type="text/javascript" src="js/factories/user.fact.js"></script>
	<script type="text/javascript" src="js/factories/blog.fact.js"></script>
  	<script src="js/controllers/auth.ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/main.ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/blogs.ctrl.js"></script>
	<script type="text/javascript" src="js/controllers/openWeather.ctrl.js"></script>

	<meta charset="utf-8">
	<title>SocialBURST</title>
</head>
<body ng-controller="authenticationController as auth">
	<nav role="navigation">
		<div class="div">
			<span ng-if="auth.user">
				<ul class="ul">
					<li class="li" ><a ui-sref-active="currentState" ui-sref="home">Home</a></li>
					<!-- <li class="li" ><a ui-sref-active="currentState" ui-sref="page2">page 2</a></li> -->
					<li class="li" ><a ui-sref-active="currentState" ui-sref="my-blogs">My Blogs</a></li>
					<li class="li" ><a ui-sref-active="currentState" ui-sref="blog-form">New Blog</a></li>
					<li class="li twitter" ><a ui-sref-active="currentState" ui-sref="twitter">Twitter</a></li>
					<li class="li signout" ><a ng-click="auth.signOut()">Sign Out</a></li>
				</ul>
			</span>
		</div>
	</nav>


	<section class="mainContainer" ui-view ng-controller="MainController">
		
	</section>

</body>
</html>