<!DOCTYPE html>
<html ng-app="social-burst">
<head>

	<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<script type="text/javascript" src="../frontApp.js"></script>
	<script type="text/javascript" src="../js/factories/auth.fact.js"></script>
  	<script src="../js/controllers/auth.ctrl.js"></script>
	<script type="text/javascript" src="../js/controllers/main.ctrl.js"></script>

	<meta charset="utf-8">
	<title>SocialBURST</title>
</head>
<body ng-controller="authenticationController as auth">
	<nav>
		<div class="wrapper">
			<span class="square">
	  			<span>
					<a class="tenth before after" ui-sref-active="currentState" ui-sref="home">Home</a>
				</span>
				<span>
					<a class="tenth before after" ui-sref-active="currentState" ui-sref="page2">page 2</a>
				</span>
			</span>
		</div>
	</nav>

	<section class="userWidget headerElement">
	    <div ng-if="auth.user">
	      <strong>Welcome {{ auth.user.email }}</strong>
	      <br>
	      <a href="#" ng-click="auth.signOut()">Click Here</a>to sign out.
	    </div>

	    <div ng-if="!auth.user">
			<strong>Welcome new person!</strong>  
			<br>
	        <a href="#" ui-sref="login">Click Here</a> To Login!
	        <br>    
	        <a href="#" ui-sref="signup">Click Here</a> To Sign Up!    
	    </div>
  	</section>

	<section class="mainContainer" ui-view ng-controller="MainController as main">
	
	</section>

	{{4+4}}

</body>
</html>