html {
  background: white;
}

.input {
  font-family:Helvetica, Arial, sans-serif;
}

#login {
  width:300px;
  position:relative;
  margin:50px auto;
}

.loginform {
  border-radius:10px;
  padding:10px 0 10px 20px;
  background-color:#111;
}

.input {
  line-height:2em;
  font-size:1em;
  border:0;
  height:1.5em;
  display:block;
  width:270px;
  background:transparent;
  color:#999;
  margin:0;
  padding:.5em .5em 1em;
}

.input[type="password"] {
  padding:1em .5em .5em;
}

.spacer {
  height:0;
  border-bottom:3px solid #333;
  margin:0 0 0 5px;
}

.input[type="submit"] {
  background-color:#111;
  color:#666;
  position:absolute;
  bottom:35px;
  right:-15px;
  box-shadow:0 0 1px 4px #333;
  border-radius:50px;
  width:75px;
  height:50px;
  padding:0;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

.input[type="submit"]:hover {
  cursor:pointer;
  box-shadow:0 0 1px 6px #333;
  color:#999;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -kthtml-transition: all .1s linear;
  transition: all .1s linear;
}

::-webkit-input-placeholder { 
  color:#666; 
}

::-moz-placeholder { 
  color:#666; 
}

:-ms-input-placeholder { 
  color:#666; 
}

.input:-moz-placeholder { 
  color:#666; 
}

.input[type="submit"]::-moz-focus-inner {
  border:0;
}

.input:focus {
  outline:0;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: .5em 1em;
    text-decoration: none;
    color: black;
}

// =================================== Quarantined Small Constraint Styling

@media screen and (max-width:48.124em) {
    #jump {
        background: rgba(0, 0, 0, 0);
        border-width: 0 0 1px 1px;
        cursor: pointer;
        display: block;
        padding: 0;
        height: 53px;
        width: 53px;
        //text-indent: -999em;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        font-size: 3em;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    
    body:not(:target) #nav {
        margin: 0;
        padding-top: 55px;
        padding-left: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0);
    }
    
    // This block is super important for hiding
    // the nav items list
    body:not(:target) #nav a {
        background: rgba(255,255,255,.15);
        border-bottom-width: 0;
        font-weight: bold;
        overflow: hidden;
        height: 0;
        line-height: 0;
        padding: 0 1em;
    }

    body:not(:target) #nav:target {
        z-index: 2;
    }
    
    // This line is super important for showing
    // the nav items list
    body:not(:target) #nav:target a {
        border-bottom-width: 1px;
        line-height: 3em;
        height: 3em;
        position: relative;
        z-index: 1;
        -webkit-transition: height .25s, line-height .25s;
    }

    body:not(:target) #nav:target #back {
        display: block;
        position: relative;
    }

    body:not(:target) #nav:target #back a {
        background: transparent;
        border: 0;
        display: block;
        height: auto;
        line-height: 1;
        position: absolute;
        top: -101em;
        bottom: -101em;
        left: 0;
        right: 0;
        text-indent: -999em;
        z-index: 0;
    }
}


// =================================== Larger Styling

@media screen and (min-width:48.125em) {
    #nav-page,
    header {
      max-width: 60em;
      margin: 0 auto;
    }
  
    #jump {
      position: absolute;
      left: -9999em;
    }
    #nav {
      text-align: center;
     }
    #nav > li {
      display: inline-block;
    }
    #nav > a {
      border-bottom: none;
    }
}

.form {
  outline:none;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Courier, monospace;
}

#paper {
  color:black;
  font-size:20px;
}
#margin {
  margin-left:12px;
  margin-bottom:20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
}
.area{
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: auto;
  margin-top: 20px;
}
#text {
  width:500px;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(http://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(http://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
}
#title {
  background-color:transparent;
  border-bottom:3px solid #FFF;
  color: black;
  font-size:20px;
  font-family:Courier, monospace;
  height:28px;
  font-weight:bold;
  width:220px;
}
#button {
  cursor:pointer;
  margin-top:20px;
  float:right;
  height:40px;
  padding-left:24px;
  padding-right:24px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:20px;
  color:#FFF;
  text-shadow: 0px -1px 0px #000000;
  -webkit-border-radius:8px;
  border-radius:8px;
  border-top:1px solid #FFF;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
  background-image:url(http://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
  background-repeat:repeat-x;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width:700px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:24px;
  margin-bottom:100px;
}
.wrapper{
  margin:3em 3em;
}
/* Code for link appearence on page */
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
	position:relative;
  transition:2s color ease;
	text-decoration:none;
	color:black;
	font-size: 0.2em;
}
/* Hover color */
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:2s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
/* Code for top and bottom hover box */
a.before:before,a.after:after{
  height:5px;
  height:0.1rem;
  width:0;
  background:#d73444;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size: 1.4em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
/* Code for red hover box on the side */
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:1s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.1rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square a:before{
  left:0;
  transition:2s all ease;
}
.square a:after{
  right:0;
  transition:2s all ease;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 1em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}
.card {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);  
  padding: 1rem 0;
  padding-top: 0;
  overflow:hidden;
  float: left;
}

.a {
  text-decoration: none;
}
    
.photo {
  width: 100%;
  display: block;
  margin-bottom: .75rem;
}
  
.title, .description {
    padding: 0 1rem;
}
  
.title {
  font-size: 1.75rem;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;    
  color: #333;
  margin-top: .5rem;
  font-weight: b700;
}
  
.description {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #555;
}

.p {
  line-height: 1.51;
  margin-top: 0;
}
    
.p:last-of-type {
  margin-bottom: 0;
}