
@import url(https://fonts.googleapis.com/css?family=Oxygen);

html {
  background: white;
}

body{
  background: white;
}

.error{
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

/*Nav bar*/
nav {
  width: 100vw;
  margin: 10px 0;
}

.div {
  margin: 0 auto;
  text-align: center;
}
 
.ul {
  overflow: auto;
  list-style-type: none;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  position: center;
}
 
.li {
  height: 25px;
  float: left;
  margin: auto;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 10px;
  text-align: center;
}
 
li:last-child {
  border-right: none;
}
 
.li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}
 
.li a:hover {
  color: #666;
}

.twitter a:hover {
  color: rgb(0, 172, 237);
}

.signout a:hover {
  color: rgb(188, 0, 0);
}
 
.li.active a {
  font-weight: bold;
  color: #333;
}

.li.currentlink a {
  font-weight: bold;
  color: #333;
}

/*Finished*/

/* LogIn and SignIn form */
.title {
  position:relative;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
  text-align:center;
}

.lsform {
  background: none;
  margin: 20px auto 0;
  padding: 10px;
  width: 280px;
}

.ls {
  display: block;
  font-size: 14px;
  width:240px;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}

.ls {
  opacity: 0.5;
}

.ls:hover,
.ls:focus {
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
  box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

.ls[type="text"]:focus,
.ls[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}
/* Finished */

/* Test for log in page */
.lssection {

  padding-top: 25vh;
  vertical-align: center;
}

.menu{
  width:220px;
  position: center;
  padding-right: 3vw;
  margin:0 auto;
  list-style:none;
}

.lsli {
  display: inline;
  border-radius: 6px;
}

.btn:link{
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
} 

.btn:visited {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
}


.btn:hover{
  color: #666;
  border: 1px solid #ccc;
  border-radius: 6px;
} 
.btn:active {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    border: 1px solid #ccc;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: center;
    width: 250px;
    margin-left: 1vw;
}

.button:hover{
  color: #666;
  border: 1px solid #ccc;
  border-radius: 6px;
} 

.button:active {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Finnished */

/* tube */
.left, .right {
  display: block;
}

.left {

}
.right {

}
/* finished */

/* Twitter */

.twitterstyle {
  background-color: rgb(0, 172, 237);
}

/* Finished */

/*Blog FORM*/
.form {
  outline:none;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Courier, monospace;
}

#paper {
  color:black;
  font-size:20px;
}
#margin {
  margin-left:12px;
  margin-bottom:20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
}
.area{
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: auto;
  margin-top: 20px;
}
#text {
  width:500px;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:Courier, monospace;
  font-weight:normal;
  font-size:24px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(http://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(http://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;
}
#title {
  background-color:transparent;
  border-bottom:3px solid #FFF;
  color: black;
  font-size:20px;
  font-family:Courier, monospace;
  height:28px;
  font-weight:bold;
  width:220px;
}
#button {
  cursor:pointer;
  margin-top:20px;
  float:right;
  height:40px;
  padding-left:24px;
  padding-right:24px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:20px;
  color:#FFF;
  text-shadow: 0px -1px 0px #000000;
  -webkit-border-radius:8px;
  border-radius:8px;
  border-top:1px solid #FFF;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
  background-image:url(http://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
  background-repeat:repeat-x;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width:700px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:24px;
  margin-bottom:100px;
}
/*FINISHED*/

/*CARD CSS*/
.home {
  margin-top: 10vw;
}
.home1 {
  margin: 3vw;
}
.card {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);  
  padding: 5vw;
  margin: 0.2vw;
  padding-top: 0;
  overflow:hidden;
  float: left;
}

.a {
  text-decoration: none;
}
    
.photo {
  width: 100%;
  display: block;
  margin-bottom: .75rem;
}
  
.title, .description {
    padding: 0 1rem;
}
  
.title {
  font-size: 1.75rem;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;    
  color: #333;
  margin-top: .5rem;
  font-weight: b700;
}
  
.description {
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #555;
}

.p {
  line-height: 1.51;
  margin-top: 0;
}
    
.p:last-of-type {
  margin-bottom: 0;
}

/*Finished*/

/* tube and weather css */

.Circle {
  background-color: rgb(255, 211, 41);
  color: black;
  padding: 10px;
}

.Bakerloo {
  background-color: rgb(178, 99, 0);
  color: white;
  padding: 10px;
}

.Central {
  background-color: rgb(220, 36, 31);
  color: white;
  padding: 10px;
}

.District{
  background-color: rgb(0, 125, 50);
  color: white;
  padding: 10px;
}

.Hammersmith {
  background-color: rgb(244, 169, 190);
  color: black;
  padding: 10px;
}

.Jubilee {
  background-color: rgb(161, 165, 167);
  color: white;
  padding: 10px;
}

.Metropolitan {
  background-color: rgb(155, 0, 88);
  color: white;
  padding: 10px;
}

.Northern {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
}

.Piccadilly {
  background-color: rgb(0, 25, 168);
  color: white;
  padding: 10px;
}

.Victoria {
  background-color: rgb(0, 152, 216);
  color: black;
  padding: 10px;
}

.Waterloo {
  background-color: rgb(147, 206, 186);
  color: black;
  padding: 10px;
}

.default {
  background: url(https://unsplash.com/search/weather?photo=RXceAJAo-nw);
  background-size: cover;
}

.clear-sky {
  background: url(https://unsplash.com/search/clear-sky?photo=uivWDK2Ifrg);
  background-size: cover;
}
.light-rain {
  background: url(https://unsplash.com/search/clear-sky?photo=uivWDK2Ifrg);
  background-size: cover;
}
/*FINISHED*/