<section ng-if="auth.user" class="form home" ng-controller="BlogsController as blog">
	<div id="wrapper">
		<form id="paper" ng-submit="blog.createBlog()">
			<div id="margin">
				Title:<input type="text" id="title" name="title" placeholder="Title" ng-model="blog.newBlog.title">
			</div>
			<div id="margin">
				Url: <input type="text" id="title" name="url" placeholder="https://c1.staticflickr.com/6/5337/8940995208_5da979c52f.jpg" ng-model="blog.newBlog.url">
			</div>
			<div id="margin">
				Post: <textarea type="text" rows="15" id="text" class="area" name="post" placeholder="Start writting...." ng-model="blog.newBlog.post"></textarea>
			</div>

			<button class="button" type="submit" >Send</button>
		</form>
	</div>
</section>