<section ng-if="!auth.user" id="login">
	<ul class="menu">
	    <li class="lsli"><a href="" ui-sref="login" class="btn">LOGIN</a></li>
	    <li class="lsli"><a href="" ui-sref="signup" class="btn">SIGN UP</a></li>
	</ul>
	<form class="lsform">
		<div class="title">Login</div>
		<div>
			<input class="ls" type="text" ng-model='auth.email' placeholder="Email">
		</div>
		<div>
			<input class="ls" type="password" ng-model='auth.password' placeholder="Password">
		</div>

		<br>

		<button ng-click="auth.signIn()">Login</button>
	</form>
	<p ng-if="auth.error" class="error">
		<strong>{{ auth.error.message }}</strong>
	</p>
</section>
<section ng-if="auth.user">
	<h3>Click on the home tab to see Blogs</h3>
</section>