<section ng-if="!auth.user" id="login">
	<form class="loginform">
		<div>
			<input class="input" type="text" ng-model='auth.email' placeholder="Email">
		</div>
		<div class="spacer"></div>
		<div>
			<input class="input" type="password" ng-model='auth.password' placeholder="Password">
		</div>

		<br>

		<button class="input" ng-click="auth.signIn()">Login</button>
	</form>
	<p ng-if="auth.error">
		<strong>{{ auth.error.message }}</strong>
	</p>
</section>
<section ng-if="auth.user">
	<h3>Click on the home tab</h3>
</section>