<section class="weather" ng-controller="weathercontroller as open">

	<div class="home1 text-center">
		<a class="btn-lg btn-primary">{{open.description | uppercase}} <img ng-src="{{open.icon}}"></a>
		<a class="btn-lg btn-primary">{{open.speed}}</a>
		<a class="btn-lg btn-primary">{{open.name | uppercase}}</a>
		<a class="btn-lg btn-primary" ng-init="tempVal=true" ng-show="tempVal" ng-click="tempVal=!tempVal">{{open.fTemp}}</a>
		<a class="btn-lg btn-primary" ng-show="!tempVal" ng-click="tempVal=!tempVal">{{open.cTemp}}</a>
	</div>
</section>
<section class="home1" ng-controller="BlogsController as blogs" ng-init="blogs.showBlog()" >
	<div class="card" ng-repeat = "blog in blogs.all">
	  <a class="a" href="">
	    <img class="photo"  src="{ blog.url }}">
	    <h3 class="title">{{ blog.title }}</h3>    
	    <div class="description"><p>{{ blog.post }}</p></div>
	  </a>
	</div>
</section>