<section class="lssection" ng-if="!auth.user">
	<ul class="menu">
	    <li class="lsli"><a href="" ui-sref="login" class="btn">LOGIN</a></li>
	    <li class="lsli"><a href="" ui-sref="signup" class="btn">SIGN UP</a></li>
	</ul>
	<form class="lsform">
		<div>
			<input class="ls" type="text" ng-model='auth.email' placeholder="Email">
		</div>
		<div>
			<input class="ls" type="password" ng-model='auth.password' placeholder="Password" >
		</div>

		<br>

		<button class="button" ng-click="auth.createUser()">Create User</button>
	</form>
	<p ng-if="auth.error" class="error">
		<strong>{{ auth.error.message }}</strong>
	</p>
</section>
<section ng-if="auth.user">
	<h3>Don't be silly, you're already logged in.....</h3>
</section>